<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnection"
			 connectionString="Data Source=SEMANA-LAPTOP\SQLEXPRESS;Initial Catalog=srvdb;User ID=tps;Password=tpsdubai;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>